<h2>ACME - CLIENTS</h2>
<div class="grid grid-pad">
  <!-- Neste ponto, deve-se criar o link para a rota Angular, que irá direcionar o id
      do cliente para a página de registro. Veja a sessão do README que fala sobre o
      desafio 1, o item RouterLink. -->
  <a *ngFor="let client of clients" class="col-1-4">
    <div class="module">
      <h4>{{client.name}}</h4>
    </div>
  </a>
</div>
