<h1>
  {{title}}
</h1>
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Client Dashboard</a>
    <a routerLink="/clientRegister" routerLinkActive="active">Register a Client</a>
</nav>
<router-outlet></router-outlet>
